@media only screen and (max-width: 400px) {

body {
     background-color: #D5BC1C; 
     background-size: cover;
     text-align: center;
}
  h1 {
     font-style: normal;
     font-family: "Calibri";
     color: white;
	 background-color: black;
     text-align: left;
	 
}
h2{
	font-style: normal;
	font-family: "Times New Roman";
	color: blue;
	text-align: center;
}
h3{
	font-style: normal;
	font-family: "Times New Roman";
	color: blue;
	text-align: center;
}
p{
	font-style: normal;
	font-family: "Times New Roman";
	color: white;
	background-color: black;
	text-align: left;
	background-origin: content-box;
	
	display: inline-block;
	
	
}
img{
	margin-left: auto;
	margin-right: auto;
     width:15%;
     height:15%;
	 display: block;
 }
nav {
  font-family: 'Noto Serif', serif;
  font-weight: 600;

  color: white;
  text-align: center;
  padding: 10px;
  
  clear: both;
 
}
nav ul {
  list-style-type: none;
  padding: 18px;
  overflow: hidden;
}
nav li {
	font-weight: 600;
	color: white;
	font-family: "Times New Roman";
   display:inline-block;
}